@tailwind base;
@tailwind components;
@tailwind utilities;

/* banner de para paginas */
.banner {
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 955px;
  position: relative;
}
.banner::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* banner de para home */
.banner-home1 {
  background-image: url('/imgs/banners/banner1.jpg');
}
.banner-home2 {
  background-image: url('/imgs/banners/banner2.jpg');
}
.banner-home3 {
  background-image: url('/imgs/banners/banner3.jpg');
}
.banner-home4 {
  background-image: url('/imgs/banners/banner4.jpg');
}
.banner-plaza {
  background-image: url('/imgs/banners/banner1.jpg');
  height: 400px;
}
.banner-home5 {
  background-image: url('/imgs/logos/logo-fondo.png');
  background-size: 110px;
  background-color: #fff2e6;
  background-repeat: no-repeat;
  height: auto;
}
.banner-home5::before {
  background-color: transparent;
}

.banner-home6 {
  background-image: url('/imgs/logos/logo-fondo.png');
  background-size: cover;
  background-color: #a02e2b;
  background-repeat: no-repeat;
  height: auto;
  background-position: bottom right;
}
.banner-home6::before {
  background-color: transparent;
}

.banner-parallax {
  background-image: url('/imgs/home/torero.jpg');
  background-size: contain;
  background-color: #2f080d;
  background-position: calc(50% - 300px) calc(50% - -100px);
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  background-attachment: fixed;
}

.banner-parallax::before {
  background-color: transparent;
}

/* banner de para plaza */
.banner-plaza::before {
  content: '';
  background-color: #4c000c;
  opacity: 0.24;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.swiper-button-next:after {
  font-size: 15px !important;
  font-weight: bolder;
  color: white !important;
}

.swiper-button-prev:after {
  font-size: 15px !important;
  font-weight: bolder;
  color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
